.grid


  .grid__cell
    %img.grid__image(src= "http://placehold.it/200x150")
    -# %img.grid(src= "http://placehold.it/200x150")
    
  .grid__cell
    %img.grid__image(src= "http://placehold.it/200x150")
   
  .grid__cell
    %img.grid__image(src= "http://placehold.it/200x150")
   
  .grid__cell
    %img.grid__image(src= "http://placehold.it/200x150")
    
  .grid__cell
    %img.grid__image(src= "http://placehold.it/200x150")
    
  .grid__cell
    %img.grid__image(src= "http://placehold.it/200x150")
    
  .grid__cell
    %img.grid__image(src= "http://placehold.it/200x150") 
    
  .grid__cell
    %img.grid__image(src= "http://placehold.it/200x150")
    